.planet_off {
    background: #888888;
    color: #FFFFFF;
}

.planet_on, .output_on {
    background: #000000;
    color: #FFFFFF;
}

.blueprint_inputs {
    background: #888888;
    color: #FFFFFF;
}

body {
    background: #6f1924;
}