/* Border Definitions - general */
.planet_selected, .planet_deselected, .output_wrapper, .input {
    border-style: solid;
    border-color: #4d4f68;
    border-radius: 10px;
    overflow: auto;
    padding: 10px
}

/* Planet list - deselected */
.planet_deselected {
    background: #646f8d;
    color: #d0e6ff;
}

/* Planet list - selected */
.planet_selected {
    background: #b2cce8;
    color: #353745;
}

/* Output nested in output_1 */
.output_wrapper {
    background: #90a6c3;
    color: #FFFFFF;
    clear: both;
}

/* Output Image */
.output_wrapper img {
    padding: 10px;
    display: block;
    margin: auto;
}

/* Output text */
.output_text {
    padding: 10px;
}

/* Output to right of planet group */
.output {
    display: inline-block;
}

/* Wrapper for input elements */
.input_wrapper {
    background: #7d9ac7;
    color: #FFFFFF;
    display: inline-block;
    float: left;
}

/* Individual input elements*/
.input {
}

/* Entire page! */
body {
    background: #000000;
}

/* Header thingy */
.jumbotron {
    background: #646f8c;
    color: #d0e6ff;
}

/* Header text items */
h1 {
    color: #bababa;
}